@font-face {
  font-family: SanFrancisco;
  src: url("MATERIALI/SF-Pro-Display-Semibold.ttf");
}

@font-face {
  font-family: SanFranciscoRegular;
  src: url("MATERIALI/SF-Pro-Display-Regular.otf");
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.GubioloFrontMobile {
  display: none;
}

p.presentazione {
  position: relative;
  font-family: SanFranciscoRegular;
  font-size: 4vh;
  color: rgb(255, 255, 255);
}

a.presentazionelink {
  position: relative;
  font-family: SanFranciscoRegular;
  font-size: 4vh;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
a.presentazionelink:hover {
  color: rgb(59, 41, 255);
}

a {
  position: relative;
  font-family: SanFrancisco;
  font-size: 3vh;
  color: rgb(255, 255, 255);
}

.divpres {
  margin-right: 40%;
  padding-left: 8%;
}

h1 {
  font-family: SanFrancisco;
  font-size: 10vh;
  color: rgb(255, 255, 255);
}
.presentazione {
  padding-bottom: 24vh;
}
.works {
  z-index: 998;
  position: relative;
  padding-left: 8vw;
  padding-top: 12vh;
  z-index: 990;
}

a {
  text-decoration: none;
}

.gif-front {
  width: 13.5%;
  top: 42%;
  left: 49.5%;
  position: absolute;
}

.gif-front2 {
  display: none;
  width: 13%;
  top: 33%;
  left: 74%;
  position: absolute;
}

.container1 {
  margin-left: 5vw;
  padding-top: 8%;
  z-index: 0;
  position: relative;
}

.ticker-wrapper-h {
  display: flex;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  width: 100vw;
  bottom: 0%;
  z-index: 999;
}

.news-ticker-h {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 90%;
  z-index: 999;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tic-h;
  animation-duration: 30s;
}
.news-ticker-h:hover {
  animation-play-state: paused;
  background-color: rgb(255, 54, 54);
}

.ticker-wrapper-h:hover {
  background-color: rgb(255, 54, 54);
}

.news-ticker-h li {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  padding-left: 10px;
}

.news-ticker-h li a {
  color: #212529;
  font-weight: bold;
  font-size: 2vh;
}

@keyframes tic-h {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

div.copertine {
  position: relative;

  z-index: 50;
  top: -103vh;
  width: 100vw;
}

.copertineimg {
  position: absolute;
  z-index: 0;
  width: 100vw;
  padding: 1%;
  border-radius: 30px;
  opacity: 0%;
}

div.listaporgetti {
  z-index: 100;
  height: 65vh;
  position: relative;
  padding-bottom: 10vh;
}

.lista {
  z-index: 100;
  padding-left: 8vw;
  list-style: none;
}

h3.NameTypeYear {
  position: relative;
  z-index: 990;
  font-family: SanFranciscoRegular;
  font-size: 3vh;
  color: #fff;
  opacity: 40%;
}
.legenda {
  padding-left: 8vw;
  padding-top: 7vh;
  padding-bottom: 1vh;
}

.li-works {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-top: solid;
  border-color: #fff;
  border-width: 2px;
}

a.mainpj {
  font-family: SanFranciscoRegular;
}

a:hover {
  color: rgb(255, 255, 255);
  opacity: 75%;
}

.worksmobile {
  display: none;
}

/* OTHER WORKS*/

.container.reveal.fade-bottom {
  margin: 0%;
  display: inline;
  padding: 0%;
  width: auto;
  height: auto;
}

.worksgallery {
  margin-top: 4vh;
  width: 100%;
  padding-left: 7vw;
  padding-right: 0vw;
}

.workspj {
  margin-bottom: 2vh;
  margin-right: 1vw;
  border-radius: 10px;
  float: left;
  background-color: rgb(44, 79, 255);
  width: 28vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2.infopj {
  padding-top: 45%;
  padding-left: 1.5vw;
  padding-right: 2.5vw;
  padding-top: 3.5vh;
  font-family: SanFranciscoRegular;
  font-size: 2.5vh;
  color: #fff;
}

/* ABOUT ME PAGE */
div.Italianboy {
  margin-top: 2%;
  margin-right: 20%;
  padding-left: 8%;
}

p.Italianboy {
  position: relative;
  font-family: SanFranciscoRegular;
  font-size: 6.5vh;
  color: rgb(255, 255, 255);
}
a.Italianboy {
  position: relative;
  font-family: SanFranciscoRegular;
  font-size: 6.5vh;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
a.Italianboy:hover {
  color: rgb(255, 255, 255);
  background-color: blue;
}

div.aboutme {
  margin-top: 5%;
  margin-right: 20%;
  padding-left: 8%;
}

h3.aboutme {
  position: relative;
  font-family: SanFranciscoRegular;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  opacity: 40%;
}

.BoxItalianboy {
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 35vw;
  height: 35vh;
  margin-left: 50vw;
  margin-top: 20%;
  background-image: url("MATERIALI/Italianboy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

.BoxItalianboy2 {
  display: none;
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 35vw;
  height: 50vh;
  margin-left: 60vw;
  margin-top: 15%;
  background-image: url("MATERIALI/pizza.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

.BoxItalianboy3 {
  display: none;
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 35vw;
  height: 40vh;
  margin-left: 20vw;
  margin-top: 20%;
  background-image: url("MATERIALI/football.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

.BoxItalianboy4 {
  display: none;
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 30vw;
  height: 35vh;
  margin-left: 55vw;
  margin-top: 15%;
  background-image: url("MATERIALI/film.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

.BoxItalianboy5 {
  display: none;
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 35vw;
  height: 40vh;
  margin-left: 50vw;
  margin-top: 17%;
  background-image: url("MATERIALI/AMBRA_Coppolo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

.BoxItalianboy6 {
  display: none;
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 40vw;
  height: 35vh;
  margin-left: 50vw;
  margin-top: 3%;
  background-image: url("MATERIALI/visualart.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

.BoxItalianboy7 {
  display: none;
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 25vw;
  height: 70vh;
  margin-left: 70vw;
  margin-top: 3%;
  background-image: url("MATERIALI/analog.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

.BoxItalianboy8 {
  display: none;
  opacity: 0%;
  position: absolute;
  z-index: 1000;
  border-radius: 30px;
  width: 50vw;
  height: 45vh;
  margin-left: 43vw;
  margin-top: 13%;
  background-image: url("MATERIALI/Cabodaroca.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 400;
}

div.BottoniInfo {
  display: none;
}

.Download {
  margin-top: 8vh;
}

div.CV {
  margin-left: 85%;
  margin-top: 1vh;
}

a.CV {
  font-family: SanFranciscoRegular;
}

a.CV:hover {
  text-decoration: underline;
  font-family: SanFrancisco;
  color: #fff;
  opacity: 100%;
}

.dot2 {
  height: 1.6vh;
  width: 1.6vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

/*MOBILE*/

@media all and (max-width: 820px) {
  div.LogoSito {
    float: left;
    display: block;
    width: 45vw;
  }

  div.Bottoneworks {
    width: 130px;
    height: 4vh;
    float: right;
    display: block;
  }

  a.Bottoneworks {
    font-family: SanFranciscoRegular;
    margin-left: 35%;
    font-size: 2.3vh;
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }

  p.presentazione {
    margin-top: 2vh;
    font-size: 2.5vh;
  }

  a.presentazionelink {
    margin-top: 2vh;
    font-size: 2.5vh;
  }

  .divpres {
    padding-top: 3vh;
    margin-right: 10%;
    margin-bottom: -40%;
  }

  div.workspart {
    display: none;
    height: 70vh;
  }

  div.legenda {
    margin-top: -10%;
  }

  h3.NameTypeYear {
    font-size: 2vh;
  }

  a {
    font-size: 2vh;
  }
  .GubioloFront {
    display: none;
  }
  .gif-front2 {
    display: none;
  }
  .gif-front {
    position: relative;
    width: 100%;
    left: 0%;
  }
  .container1 {
    margin-left: 0%;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-bottom: 0%;
    padding-bottom: 0%;
    bottom: 0%;
  }

  .GubioloFrontMobile {
    padding-top: 2vh;
    display: inherit;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 1vh;
  }

  h1 {
    font-size: 3vh;
  }

  /* OTHER WORKS*/

  .container.reveal.fade-bottom {
    display: block;
    padding: 0%;
    width: auto;
    height: auto;
  }

  .worksgallery {
    margin-top: 6vh;
    width: 100%;
    padding-left: 4vw;
    padding-right: 2vw;
  }

  .workspj {
    margin-top: -2%;
    margin-right: 2vw;
    border-radius: 15px;
    float: left;
    background-color: rgb(44, 79, 255);
    width: 45vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  h2.infopj {
    padding-top: 5%;
    font-family: SanFrancisco;
    font-size: 1.3vh;
    color: #fff;
  }

  /*ABOUT ME MOBILE*/

  .Download {
    display: none;
  }

  p.Italianboy {
    position: relative;
    font-family: SanFranciscoRegular;
    font-size: 2.5vh;
    color: rgb(255, 255, 255);
  }
  a.Italianboy {
    position: relative;
    font-family: SanFranciscoRegular;
    font-size: 2.5vh;
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }

  div.Italianboy {
    margin-top: 4%;
    padding-right: 0%;
    padding-left: 6%;
    padding-bottom: 2vh;
  }

  div.aboutme {
    margin-top: 5%;
    margin-right: 20%;
    padding-left: 6%;
  }

  h3.aboutme {
    position: relative;
    font-family: SanFranciscoRegular;
    font-size: 2vh;
    color: rgb(255, 255, 255);
    opacity: 40%;
  }

  div.BottoniInfo {
    display: inherit;
    width: 100%;
    padding-left: 65vw;
    padding-right: 1vw;
    padding-top: 1vh;
  }

  a.BottoniInfo {
    color: rgb(255, 255, 255);
    font-family: SanFranciscoRegular;
    font-size: 2vh;
    text-decoration: none;
  }

  a.BottoniInfo:hover {
    font-family: SanFrancisco;
    text-decoration: underline;
  }

  .dot {
    height: 1.2vh;
    width: 1.2vh;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
  }

  .BoxItalianboy {
    opacity: 100%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/Italianboy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .BoxItalianboy2 {
    opacity: 0%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/pizza.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .BoxItalianboy3 {
    opacity: 0%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/football.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .BoxItalianboy4 {
    opacity: 0%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/film.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .BoxItalianboy5 {
    opacity: 0%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/AMBRA_Coppolo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .BoxItalianboy6 {
    opacity: 0%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/visualart.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .BoxItalianboy7 {
    opacity: 0%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/analog.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .BoxItalianboy8 {
    opacity: 0%;
    position: absolute;
    z-index: 400;
    border-radius: 20px;
    width: 92vw;
    height: 33vh;
    margin-left: 4vw;
    margin-top: 100%;
    background-image: url("MATERIALI/Cabodaroca.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media all and (max-width: 1086px) {
  .copertine {
    display: none;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.5s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media all {
  .container.reveal.fade-bottom {
    display: inline;
    padding: 0%;
    width: auto;
    height: auto;
  }
}
