@font-face {
  font-family: SanFrancisco;
  src: url("MATERIALI/SF-Pro-Display-Semibold.ttf");
}

@font-face {
  font-family: SanFranciscoRegular;
  src: url("MATERIALI/SF-Pro-Display-Regular.otf");
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* TICKER */

.ticker-wrapper-h {
  display: flex;
  position: fixed;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  bottom: 0%;
  z-index: 999;
}

.news-ticker-h {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 90%;
  z-index: 999;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tic-h;
  animation-duration: 30s;
}
.news-ticker-h:hover {
  animation-play-state: paused;
  background-color: rgb(255, 54, 54);
}

.ticker-wrapper-h:hover {
  background-color: rgb(255, 54, 54);
}

.news-ticker-h li {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  padding-left: 10px;
}

.news-ticker-h li a {
  color: #ffffff;
  font-weight: bold;
  font-family: SanFrancisco;
  font-size: 2vh;
  text-decoration: none;
}

@keyframes tic-h {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* BLOCCO INFO*/

a.LogoHome:hover {
  opacity: 60%;
}

div.Info {
  float: left;
  display: block;
  position: fixed;
  width: 40vw;
  background-color: rgb(255, 255, 255);
  height: 97vh;
}

div.GubioloFront {
  padding-top: 2vh;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
}

div.LogoSito {
  float: left;
  display: block;
  width: 45%;
}

div.Bottonenext {
  float: right;
  display: block;
}

a.BottoneNext {
  margin-left: 45%;
  font-family: SanFrancisco;
  font-size: 2vh;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a.BottoneNext:hover {
  color: rgb(255, 36, 36);
  text-decoration: underline;
}

div.titolopj {
  margin-top: 3vh;
  position: relative;
  width: 100%;
}
h1.titolopj {
  font-family: SanFrancisco;
  font-size: 4vh;
  text-align: center;
}

div.concept {
  margin-top: 5vh;
  position: relative;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
}
h1.concept {
  font-family: SanFrancisco;
  font-size: 2vh;
}

div.concepttext {
  margin-bottom: 2.5vh;
  margin-top: 2vh;
  position: relative;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
}

p.concepttext {
  font-family: SanFranciscoRegular;
  font-size: 2vh;
}
p.concepttextbox {
  color: #ffffff;
  font-family: SanFranciscoRegular;
  font-size: 2vh;
  margin-left: 0.5vw;
  margin-bottom: 0;
}

div.concepttextbox {
  background-color: black;
  position: relative;
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 30px;
  margin-bottom: 2.5vh;
  margin-top: 2vh;
  width: auto;
  height: auto;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

div.BottoniInfo {
  width: 100%;
  padding-left: 32vw;
  padding-right: 1vw;
}

a.BottoniInfo {
  color: black;
  font-family: SanFranciscoRegular;
  font-size: 2vh;
  text-decoration: none;
}

a.BottoniInfo:hover {
  font-family: SanFrancisco;
  text-decoration: underline;
}

.dot {
  height: 1.2vh;
  width: 1.2vh;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
}

/*SLIDE*/

div.Slide {
  display: block;
  position: relative;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 58vw;
  margin-left: 40vw;
}

div.Slide2 {
  display: block;
  position: relative;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 58vw;
  margin-left: 40vw;
}

div.Slide3 {
  display: block;
  position: relative;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 58vw;
  margin-left: 40vw;
}

div.BoxSlide {
  margin-left: 1.5vw;
  margin-right: 1vw;
  margin-top: 1vw;
  background-color: rgb(229, 229, 229);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 57vw;
  border-radius: 15px;
}

div.BoxSlideVideo {
  margin-left: 1.5vw;
  margin-right: 1vw;
  margin-top: 1vw;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 66vh;
  width: 57vw;
  border-radius: 15px;
}

/*MOBILE*/

@media all and (max-width: 820px) {
  div.Info {
    position: absolute;
    float: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 3vw;
    padding-right: 3vw;
    height: 92vh;
    border: none;
  }

  div.Slide {
    margin-left: 0%;
    margin-top: 115vh;
    padding-bottom: 5vh;
    float: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  div.Slide2 {
    margin-left: 0%;
    margin-top: 100vh;
    padding-bottom: 5vh;
    float: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  div.Slide3 {
    margin-left: 0%;
    margin-top: 80vh;
    padding-bottom: 5vh;
    float: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  div.BoxSlide {
    margin-left: 4vw;
    position: relative;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 92%;
    border-radius: 15px;
  }

  div.BoxSlideVideo {
    margin-left: 4vw;
    position: relative;
    padding-left: 0vw;
    padding-right: 0vw;
    margin-top: 2vw;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28vh;
    width: 92%;
    border-radius: 15px;
  }

  div.BottoniInfo {
    width: 100%;
    padding-left: 72vw;
    padding-right: 1vw;
  }

  div.LogoSito {
    float: left;
    display: block;
    width: 60%;
  }

  a.BottoneNext {
    margin-left: 27%;
    font-family: SanFrancisco;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  div.concepttextbox {
    background-color: transparent;
    border: none;
    margin-bottom: 2.5vh;
    margin-top: 2vh;
    position: relative;
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 0;
    margin-right: 0;
  }

  p.concepttextbox {
    color: black;
    font-family: SanFranciscoRegular;
    font-size: 2vh;
  }
}
